apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ inventory_hostname }}-{{ xfs_location_name }}-{{ name }}
  labels:
{% for key, value in volume.1.labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
  annotations:
    volume.alpha.kubernetes.io/node-affinity: '{"requiredDuringSchedulingIgnoredDuringExecution":{"nodeSelectorTerms":[{"matchExpressions":[{"key":"kubernetes.io/hostname","operator":"In","values":["{{ inventory_hostname }}"]}]}]}}'
spec:
  capacity:
    storage: {{ size }}
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: {{ path }}
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: local-storage
