{
  "storage-driver": "overlay2",
  "iptables":       false,
  "ip-masq":        false,
  "live-restore":   true,
  "log-driver":     "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "5"
  },
  "insecure-registries" : [
    "10.0.0.0/8",
    "172.16.0.0/12",
    "192.168.0.0/16"
  ],
  "log-level":      "error"
}