apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
  labels:
    name: kube-proxy
    host: {{ inventory_hostname_short }}
  annotations:
    ansible/config-hash: {{ kube_proxy_config_hashsum }}
spec:
  hostNetwork: true
  containers:
    - name: kube-proxy
      image: {{ kube_proxy_image }}
      securityContext:
        privileged: true
      args:
        - /usr/local/bin/kube-proxy
        - --kubeconfig=/etc/kube-proxy/kubeconfig
        - --hostname-override={{ ansible_host }}
        - --logtostderr=true
      livenessProbe:
        httpGet:
          path: /healthz
          port: 10249
          host: 127.0.0.1
      resources:
        requests:
          cpu: 100m
          memory: 100Mi
        limits:
          cpu: 1000m
          memory: 100Mi
      volumeMounts:
        - name: config
          mountPath: /etc/kube-proxy
  volumes:
    - name: config
      hostPath:
        path: /etc/kube-proxy