apiVersion: v1
kind: Pod
metadata:
  name: master
  namespace: kube-system
  annotations:
    ansible/certificates-hash: {{ master_cert_hashsum }}
  labels:
    name: master
    host: {{ inventory_hostname_short }}
spec:
  hostNetwork: true
  containers:
    - name: apiserver
      image: {{ kubernetes_image }}
      command:
        - sh
      args:
        - -c
        - >-
          {% for host in groups['etcds'] %}echo {{ hostvars[host]['ansible_host'] }} etcd{{ hostvars[host]['etcd_id'] }} >> /etc/hosts && {% endfor %}
          /apiserver
          --advertise-address={{ ansible_host }}
          --etcd-servers=https://etcd1:2379,https://etcd2:2379,https://etcd3:2379
          --etcd-cafile=/etc/kubernetes/ssl/etcd-ca.pem
          --etcd-certfile=/etc/kubernetes/ssl/etcd.pem
          --etcd-keyfile=/etc/kubernetes/ssl/etcd-key.pem
          --client-ca-file=/etc/kubernetes/ssl/kubernetes-ca.pem
          --tls-cert-file=/etc/kubernetes/ssl/master.pem
          --tls-private-key-file=/etc/kubernetes/ssl/master-key.pem
          --kubelet-certificate-authority=/etc/kubernetes/ssl/kubernetes-ca.pem
          --kubelet-client-certificate=/etc/kubernetes/ssl/master.pem
          --kubelet-client-key=/etc/kubernetes/ssl/master-key.pem
          --service-cluster-ip-range=10.16.0.0/12
          --admission-control=NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,PersistentVolumeLabel,DefaultStorageClass,ResourceQuota,DefaultTolerationSeconds
          --allow_privileged=true
          --apiserver-count={{ groups['masters'] | length }}
          --authorization-mode=Node,RBAC
          --target-ram-mb=450
      livenessProbe:
        httpGet:
          path: /healthz
          port: 8080
          host: 127.0.0.1
      resources:
        requests:
          cpu: 200m
          memory: 500Mi
        limits:
          cpu: 1000m
          memory: 500Mi
      volumeMounts:
        - name: kubernetes-ssl-certs
          mountPath: /etc/kubernetes/ssl
    - name: controller-manager
      image: {{ kubernetes_image }}
      args:
        - /controller-manager
        - --master=http://127.0.0.1:8080
        - --service-account-private-key-file=/etc/kubernetes/ssl/master-key.pem
        - --root-ca-file=/etc/kubernetes/ssl/kubernetes-ca.pem
        - --leader-elect=true
        - --address=127.0.0.1
        - --port=10252
      livenessProbe:
        httpGet:
          path: /healthz
          port: 10252
          host: 127.0.0.1
      resources:
        requests:
          cpu: 200m
          memory: 100Mi
        limits:
          cpu: 1000m
          memory: 100Mi
      volumeMounts:
        - name: kubernetes-ssl-certs
          mountPath: /etc/kubernetes/ssl
    - name: scheduler
      image: {{ kubernetes_image }}
      args:
        - /scheduler
        - --master=http://127.0.0.1:8080
        - --leader-elect=true
        - --address=127.0.0.1
        - --port=10251
      livenessProbe:
        httpGet:
          path: /healthz
          port: 10251
          host: 127.0.0.1
      resources:
        requests:
          cpu: 200m
          memory: 100Mi
        limits:
          cpu: 1000m
          memory: 100Mi
  volumes:
    - name: kubernetes-ssl-certs
      hostPath:
        path: /etc/kubernetes/ssl
