[all]
{% for host in groups['all'] %}
{{ host }} ansible_host={{ hostvars[host]['ansible_host'] }}
{% endfor %}

[docker]
{% for host in groups['docker'] %}
{{ host }} ansible_host={{ hostvars[host]['ansible_host'] }}
{% endfor %}

[crio]
{% for host in groups['crio'] %}
{{ host }} ansible_host={{ hostvars[host]['ansible_host'] }}
{% endfor %}

{% for group in groups %}
{% if group not in ['ungrouped', 'all', 'docker', 'crio'] %}
[{{ group }}] 
{% for host in groups[group] %}
{{ host }}
{% endfor %}

{% endif %}
{% endfor %}