{
  "CN": "system:node:{{ item }}",
  "hosts": [
    "{{ hostvars[item]['network']['internalIP'] }}",
    "127.0.0.1",
    "localhost"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "O": "system:nodes" 
    }
  ]
}
